body {
   margin: 0;
   line-height: normal;
 }
 .a-icon {
   position: relative;
   width: 4.6rem;
   height: 1.64rem;
   flex-shrink: 0;
 }
 .creator,
 .div1 {
   position: absolute;
 }
 .div1 {
   top: 0;
   left: 0;
   display: flex;
   flex-direction: row;
   padding: var(--padding-xs) 0.66rem;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .creator {
   top: 0.62rem;
   left: 0.09rem;
   font-size: var(--font-size-4xs);
   line-height: 1.28rem;
 }
 .campaigns,
 .crm,
 .flow,
 .landingpage,
 .social {
   position: absolute;
   top: 0.62rem;
   left: 4.64rem;
   line-height: 1.28rem;
 }
 .campaigns,
 .crm,
 .landingpage,
 .social {
   left: 8.16rem;
 }
 .campaigns,
 .landingpage,
 .social {
   left: 11.76rem;
 }
 .landingpage,
 .social {
   left: 17.93rem;
 }
 .social {
   left: 24.82rem;
 }
 .abefore {
   border: 0;
   background-color: var(--color-black);
   position: absolute;
   margin: 0 !important;
   top: 1.08rem;
   left: 5.27rem;
   width: 0.46rem;
   height: 0.07rem;
   flex-shrink: 0;
   transform: rotate(45deg);
   transform-origin: 0 0;
   z-index: 0;
 }
 .all-products {
   position: relative;
   font-size: var(--font-size-3xs);
   line-height: 1.28rem;
   font-family: var(--font-inter);
   color: var(--color-black);
   text-align: left;
   z-index: 1;
 }
 .aafter {
   margin: 0 !important;
   top: 1.4rem;
   left: 5.48rem;
   background-color: var(--color-black);
   width: 0.46rem;
   height: 0.07rem;
   flex-shrink: 0;
   transform: rotate(-45deg);
   transform-origin: 0 0;
   z-index: 2;
 }
 .a,
 .aafter,
 .ul {
   position: absolute;
 }
 .a {
   cursor: pointer;
   border: 0;
   padding: 0.62rem 1.01rem 0.53rem 0.03rem;
   background-color: transparent;
   top: 0;
   left: 28.88rem;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .ul {
   top: calc(50% - 19.69px);
   left: 6.89rem;
   width: 36.41rem;
   height: 2.46rem;
 }
 .span {
   position: relative;
   width: 0.99rem;
   height: 1.05rem;
   flex-shrink: 0;
 }
 .get-started,
 .sign-in {
   line-height: 1.64rem;
   text-transform: uppercase;
 }
 .sign-in {
   position: absolute;
   top: 0.59rem;
   left: 1.62rem;
 }
 .get-started {
   position: relative;
   font-size: var(--font-size-5xs);
   font-family: var(--font-inter);
   color: var(--color-white);
   text-align: left;
 }
 .a1 {
   cursor: pointer;
   border: 0;
   padding: 0.59rem 1.08rem 0.33rem 1.09rem;
   background-color: var(--color-tomato);
   position: absolute;
   top: 0;
   left: 5.53rem;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .div3 {
   position: relative;
   width: 12.62rem;
   height: 2.56rem;
   flex-shrink: 0;
 }
 .div2 {
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   gap: 1.31rem;
   font-size: var(--font-size-4xs);
   color: var(--color-tomato);
 }
 .divheader {
   position: relative;
   width: 99.26rem;
   height: 2.56rem;
   flex-shrink: 0;
 }
 .div {
   background-color: var(--color-white);
   box-shadow: 0-1.0503956079483032px 0#e8e8e8 inset;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .formssvg-icon {
   position: absolute;
   top: calc(50% - 23.11px);
   left: 0;
   width: 2.89rem;
   height: 2.89rem;
 }
 .forms {
   position: absolute;
   top: calc(50% - 12.6px);
   left: 3.96rem;
   line-height: 1.71rem;
 }
 .a2 {
   position: relative;
   width: 7.45rem;
   height: 2.89rem;
   flex-shrink: 0;
 }
 .customers,
 .features,
 .templates {
   position: absolute;
   top: 0.99rem;
   left: 2.69rem;
   line-height: 1.97rem;
 }
 .customers,
 .templates {
   left: 9.29rem;
 }
 .customers {
   left: 16.69rem;
 }
 .mobile {
   top: 0.95rem;
   left: 24.18rem;
   font-size: var(--font-size-xs);
 }
 .help,
 .integrations,
 .mobile,
 .pricing {
   position: absolute;
   line-height: 1.97rem;
 }
 .pricing {
   top: 0.95rem;
   left: 29.96rem;
   font-size: var(--font-size-xs);
 }
 .help,
 .integrations {
   top: 0.99rem;
   left: 35.98rem;
 }
 .help {
   top: 0.95rem;
   left: 43.96rem;
   font-size: var(--font-size-xs);
 }
 .ul1 {
   position: relative;
   width: 46.12rem;
   height: 3.55rem;
   flex-shrink: 0;
   font-size: var(--font-size-2xs);
   font-family: var(--font-inter);
 }
 .div4,
 .div5,
 .header {
   display: flex;
   justify-content: flex-start;
 }
 .div5 {
   flex-direction: row;
   align-items: center;
   gap: 30.46rem;
 }
 .div4,
 .header {
   align-items: flex-start;
 }
 .div4 {
   background-color: var(--color-midnightblue);
   flex-direction: row;
   padding: var(--padding-xs) var(--padding-3xl);
   font-size: 1.31rem;
   color: var(--color-white);
   font-family: var(--font-arial);
 }
 .header {
   flex-direction: column;
 }
 .open-up-communication {
   position: absolute;
   top: -0.03rem;
   left: 0;
   letter-spacing: -0.11px;
   line-height: 4.73rem;
   display: flex;
   align-items: center;
   width: 41.25rem;
 }
 .use-zoho-forms {
   top: 20.84rem;
   font-size: 1.44rem;
   line-height: 2.31rem;
   font-family: var(--font-inter);
   display: flex;
   align-items: center;
   width: 29.2rem;
 }
 .a3,
 .div9,
 .use-zoho-forms {
   position: absolute;
   left: 0;
 }
 .a3 {
   border: 0;
   background-color: var(--color-tomato);
   font-family: var(--font-inter);
   font-size: var(--font-size-2xs);
   top: 27.47rem;
   display: flex;
   flex-direction: row;
   padding: var(--padding-2xs) var(--padding-lg) var(--padding-sm)
     var(--padding-xl);
   align-items: flex-start;
   justify-content: flex-start;
 }
 .div9 {
   width: calc(100% - 537.8px);
   top: 1.97rem;
   right: 33.61rem;
   height: 32.19rem;
 }
 .div11,
 .div12,
 .div13 {
   position: absolute;
   box-sizing: border-box;
 }
 .div11 {
   top: 0.66rem;
   left: -2.69rem;
   border-radius: 4.2px;
   border: 1.1px solid #42c4a5;
   width: 0.53rem;
   height: 0.53rem;
 }
 .div12,
 .div13 {
   width: 0.66rem;
   height: 0.66rem;
 }
 .div12 {
   top: 4.6rem;
   right: 1.97rem;
   border-radius: 5.25px;
   border: 1.1px solid #2dc3ec;
 }
 .div13 {
   top: 26.53rem;
   left: -2.42rem;
   border: 1.1px solid #fa7080;
   transform: rotate(30deg);
   transform-origin: 0 0;
 }
 .div-icon,
 .div-icon1 {
   position: absolute;
   width: 3.28rem;
   height: 3.28rem;
   object-fit: cover;
 }
 .div-icon {
   top: 15.23rem;
   left: -5.25rem;
 }
 .div-icon1 {
   top: 21.32rem;
   right: 0;
 }
 .contact-form01png-icon,
 .contact-form02png-icon,
 .contact-form03png-icon {
   position: absolute;
   top: 2.04rem;
   left: calc(50% - 228.99px);
   width: 29.41rem;
   height: 37.58rem;
   overflow: hidden;
   object-fit: cover;
 }
 .contact-form01png-icon,
 .contact-form02png-icon {
   top: 0.07rem;
   left: calc(50% - 260.5px);
   height: 37.59rem;
 }
 .contact-form02png-icon {
   top: -1.9rem;
   left: calc(50% - 292.01px);
   height: 37.58rem;
 }
 .div-icon2 {
   position: absolute;
   right: 0;
   bottom: -3.94rem;
   width: 12.21rem;
   height: 11.16rem;
   object-fit: cover;
 }
 .div10,
 .div8 {
   height: 38.08rem;
 }
 .div10 {
   position: absolute;
   width: calc(100% - 806.7px);
   top: 0;
   right: 0;
   left: 50.42rem;
 }
 .div8 {
   position: relative;
   width: 84.03rem;
   flex-shrink: 0;
 }
 .div7 {
   position: absolute;
   width: 100%;
   top: 0;
   right: 0;
   left: 0;
   background-color: var(--color-midnightblue);
   display: flex;
   flex-direction: row;
   padding: 6.56rem var(--padding-3xl);
   box-sizing: border-box;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
   font-size: 3.94rem;
   color: var(--color-white);
 }
 .gathering-contacts-made {
   position: absolute;
   top: -0.69rem;
   left: calc(50% - 600.2px);
   line-height: 4.1rem;
 }
 .from-collecting-contacts {
   position: absolute;
   top: 5.09rem;
   left: calc(50% - 327.17px);
   font-size: var(--font-size-base);
   line-height: 1.79rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40.91rem;
 }
 .customer-database {
   position: absolute;
   top: 8.17rem;
   left: calc(50% - 131.73px);
   line-height: 2.3rem;
 }
 .gather-contact-information {
   position: absolute;
   top: 11.5rem;
   left: calc(50% - 190.7px);
   font-size: var(--font-size-base);
   line-height: 1.79rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 23.85rem;
 }
 .divbefore-icon {
   position: absolute;
   top: 1.25rem;
   left: 1.58rem;
   width: 3.41rem;
   height: 3.94rem;
   object-fit: cover;
 }
 .div17 {
   position: absolute;
   top: 0;
   left: calc(50% - 52.52px);
   border-radius: var(--br-md);
   background-color: #fc6a90;
   width: 6.57rem;
   height: 6.57rem;
 }
 .div16 {
   position: relative;
   width: 28.01rem;
   height: 18.49rem;
   flex-shrink: 0;
 }
 .customer-support {
   position: absolute;
   top: 8.17rem;
   left: calc(50% - 121.74px);
   line-height: 2.3rem;
 }
 .pick-up-questions {
   position: absolute;
   top: 11.5rem;
   left: calc(50% - 162.88px);
   font-size: var(--font-size-sm);
   line-height: 1.79rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 20.37rem;
 }
 .div19 {
   position: absolute;
   top: 0;
   left: calc(50% - 52.52px);
   border-radius: var(--br-md);
   background-color: #9372fc;
   width: 6.57rem;
   height: 6.57rem;
 }
 .customer-engagement {
   position: absolute;
   top: 8.17rem;
   left: calc(50% - 153.79px);
   line-height: 2.3rem;
 }
 .interact-with-your {
   position: absolute;
   top: 11.5rem;
   left: calc(50% - 191.68px);
   font-size: var(--font-size-base);
   line-height: 1.79rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 23.97rem;
 }
 .div21 {
   top: 0;
   left: calc(50% - 52.52px);
   border-radius: var(--br-md);
   background-color: #ff9e36;
   width: 6.57rem;
   height: 6.57rem;
 }
 .div14,
 .div15,
 .div21 {
   position: absolute;
 }
 .div15 {
   top: 10.96rem;
   left: 0;
   display: flex;
   flex-direction: row;
   padding: var(--padding-2xl) 0 0 0;
   align-items: flex-start;
   justify-content: flex-start;
   font-size: var(--font-size-xl);
   font-family: var(--font-inter);
 }
 .div14 {
   top: 59.09rem;
   left: calc(50% - 672.25px);
   width: 84.03rem;
   height: 32.73rem;
 }
 .sectionafter {
   border: 0;
   background-color: transparent;
   position: absolute;
   margin: 0 !important;
   top: 0;
   left: 19.85rem;
   background: linear-gradient(
     90deg,
     rgba(255, 255, 255, 0),
     rgba(255, 255, 255, 0) 1%,
     rgba(255, 127, 255, 0.4)
   );
   width: 79.41rem;
   height: 39.8rem;
   flex-shrink: 0;
   z-index: 0;
 }
 .section {
   position: absolute;
   top: 99.69rem;
   left: 0;
   display: flex;
   flex-direction: row;
   padding: 5.91rem 15.17rem var(--padding-2xl);
   align-items: flex-start;
   justify-content: flex-start;
   background-image: url(./public/section@3x.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top;
 }
 .collect-contact-details {
   position: absolute;
   top: -0.85rem;
   left: calc(50% - 425.21px);
   line-height: 4.1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 53.17rem;
 }
 .copy-and-paste,
 .embed-contact-forms {
   position: absolute;
   top: 2rem;
   left: 5.37rem;
   line-height: 2.3rem;
 }
 .copy-and-paste {
   top: 5.32rem;
   left: 5.82rem;
   font-size: var(--font-size-sm);
   line-height: 1.79rem;
 }
 .libefore-icon {
   position: absolute;
   top: 1.97rem;
   left: 0;
   width: 3.28rem;
   height: 3.28rem;
   object-fit: cover;
 }
 .li {
   position: relative;
   border-bottom: 1.1px solid var(--color-whitesmoke-200);
   box-sizing: border-box;
   width: 53.83rem;
   height: 9.08rem;
   flex-shrink: 0;
 }
 .share-them-on {
   position: absolute;
   top: 2rem;
   left: 5.3rem;
   line-height: 2.3rem;
 }
 .convert-your-social {
   position: absolute;
   top: 5.19rem;
   left: 5.25rem;
   font-size: var(--font-size-base);
   line-height: 1.79rem;
   display: flex;
   align-items: center;
   width: 46.25rem;
 }
 .li1 {
   position: relative;
   border-bottom: 1.1px solid var(--color-whitesmoke-200);
   box-sizing: border-box;
   width: 53.83rem;
   height: 10.86rem;
   flex-shrink: 0;
 }
 .use-zoho-forms1 {
   position: absolute;
   top: 2rem;
   left: 5.38rem;
   line-height: 2.3rem;
 }
 .collect-contacts-easily {
   position: absolute;
   top: 5.32rem;
   left: 6.04rem;
   font-size: var(--font-size-sm);
   line-height: 1.79rem;
 }
 .send-via-email {
   position: absolute;
   top: 2rem;
   left: 5.35rem;
   line-height: 2.3rem;
 }
 .distribute-contact-forms {
   position: absolute;
   top: 5.19rem;
   left: 5.25rem;
   font-size: var(--font-size-base);
   line-height: 1.79rem;
   display: flex;
   align-items: center;
   width: 47.22rem;
 }
 .li3 {
   position: relative;
   width: 53.83rem;
   height: 10.8rem;
   flex-shrink: 0;
 }
 .div22,
 .ul2 {
   position: absolute;
 }
 .ul2 {
   top: 10.83rem;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
   font-size: var(--font-size-xl);
   font-family: var(--font-inter);
 }
 .div22 {
   top: 151.31rem;
   left: calc(50% - 430.66px);
   width: 53.83rem;
   height: 50.65rem;
 }
 .dont-just-collect {
   position: absolute;
   top: -0.69rem;
   left: calc(50% - 423.79px);
   line-height: 3.45rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 52.99rem;
 }
 .try-now {
   position: relative;
   font-size: var(--font-size-2xs);
   line-height: 1.58rem;
   text-transform: uppercase;
   font-family: var(--font-inter);
   color: var(--color-white);
   text-align: center;
 }
 .a4,
 .div23 {
   position: absolute;
 }
 .a4 {
   cursor: pointer;
   border: 0;
   padding: var(--padding-2xs) var(--padding-lg) var(--padding-sm)
     var(--padding-xl);
   background-color: var(--color-tomato);
   top: 9.52rem;
   left: calc(50% - 68.51px);
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .div23 {
   top: 272.1rem;
   left: calc(50% - 672.25px);
   width: 84.03rem;
   height: 12.28rem;
   font-size: 2.76rem;
 }
 .div6 {
   position: relative;
   width: 99.26rem;
   height: 290.94rem;
   flex-shrink: 0;
   overflow: hidden;
   text-align: center;
   font-size: var(--font-size-2xl);
   font-family: var(--font-arial);
 }
 .zoho-form-banner-footerpng-icon {
   position: absolute;
   top: 0;
   left: calc(50% - 189.07px);
   width: 23.63rem;
   height: 14.18rem;
   object-fit: cover;
 }
 .div27 {
   position: relative;
   width: 26.26rem;
   height: 14.18rem;
   flex-shrink: 0;
   overflow: hidden;
 }
 .div26 {
   background-color: var(--color-whitesmoke-100);
   display: flex;
   flex-direction: row;
   padding: 10.68rem 4.24rem;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .overview {
   position: absolute;
   top: 0.1rem;
   left: 0.04rem;
   line-height: 2.11rem;
 }
 .online-forms,
 .pricing1 {
   position: absolute;
   font-size: var(--font-size-2xs);
   line-height: 1.38rem;
 }
 .online-forms {
   top: 0.43rem;
   left: 0;
 }
 .pricing1 {
   top: 4.5rem;
   left: 0.01rem;
 }
 .form-templates,
 .integrations1 {
   position: absolute;
   top: 6.5rem;
   left: 0.19rem;
   line-height: 1.38rem;
 }
 .integrations1 {
   top: 8.53rem;
   left: 0.16rem;
 }
 .ul3 {
   position: absolute;
   top: 2.77rem;
   left: 0;
   width: 11.53rem;
   height: 10.18rem;
   font-size: var(--font-size-3xs);
 }
 .mobile-apps,
 .mobile-forms {
   position: absolute;
   top: 14.36rem;
   left: 0.09rem;
   line-height: 2.11rem;
 }
 .mobile-forms {
   top: 0.39rem;
   left: 0.18rem;
   line-height: 1.38rem;
 }
 .ul4 {
   position: absolute;
   top: 17.03rem;
   left: 0;
   width: 11.53rem;
   height: 10.64rem;
   font-size: var(--font-size-3xs);
 }
 .div29 {
   position: relative;
   width: 14.16rem;
   height: 27.66rem;
   flex-shrink: 0;
 }
 .form-features {
   position: absolute;
   top: 0.1rem;
   left: 0.03rem;
   line-height: 2.11rem;
 }
 .form-notifications,
 .online-form-creator {
   position: absolute;
   top: 0.39rem;
   left: 0.28rem;
   line-height: 1.38rem;
 }
 .form-notifications {
   top: 2.43rem;
   left: 0.24rem;
 }
 .custom-forms,
 .form-data,
 .sharing-forms {
   position: absolute;
   top: 4.46rem;
   left: 0.19rem;
   line-height: 1.38rem;
 }
 .custom-forms,
 .form-data {
   top: 6.5rem;
   left: 0.25rem;
 }
 .custom-forms {
   top: 8.53rem;
   left: 0.21rem;
 }
 .form-workflow-automation {
   position: absolute;
   top: 10.5rem;
   left: 0;
   font-size: var(--font-size-2xs);
   line-height: 1.38rem;
   display: flex;
   align-items: center;
   width: 6.54rem;
 }
 .payment-order-forms,
 .secure-forms {
   position: absolute;
   top: 13.98rem;
   left: 0.26rem;
   line-height: 1.38rem;
 }
 .secure-forms {
   top: 16.02rem;
   left: 0.15rem;
 }
 .ul5 {
   position: absolute;
   top: 2.77rem;
   left: 0;
   width: 11.53rem;
   height: 17.66rem;
   font-size: var(--font-size-3xs);
 }
 .quick-links,
 .web-forms {
   position: absolute;
   top: 0.1rem;
   left: 0.05rem;
   line-height: 2.11rem;
 }
 .web-forms {
   top: 0.39rem;
   left: 0.15rem;
   line-height: 1.38rem;
 }
 .digital-forms,
 .html-forms,
 .interactive-forms {
   position: absolute;
   top: 2.43rem;
   left: 0.16rem;
   line-height: 1.38rem;
 }
 .html-forms,
 .interactive-forms {
   top: 4.46rem;
   left: 0.21rem;
 }
 .html-forms {
   top: 6.5rem;
   left: 0.1rem;
 }
 .contact-forms,
 .lead-generation-forms {
   position: absolute;
   top: 8.53rem;
   left: 0.18rem;
   line-height: 1.38rem;
 }
 .lead-generation-forms {
   top: 10.57rem;
   left: 0.25rem;
 }
 .no-code-forms {
   top: 12.61rem;
   left: 0.16rem;
   line-height: 1.38rem;
 }
 .no-code-forms,
 .resources,
 .ul6 {
   position: absolute;
 }
 .ul6 {
   top: 2.77rem;
   left: 0;
   width: 11.53rem;
   height: 14.25rem;
   font-size: var(--font-size-3xs);
 }
 .resources {
   top: 0.1rem;
   left: 0.01rem;
   line-height: 2.11rem;
 }
 .blogs,
 .tips-tricks,
 .user-guide {
   position: absolute;
   top: 0.39rem;
   left: 0.09rem;
   line-height: 1.38rem;
 }
 .blogs,
 .tips-tricks {
   top: 2.43rem;
   left: 0.07rem;
 }
 .blogs {
   top: 6.53rem;
   left: -0.01rem;
   font-size: var(--font-size-2xs);
 }
 .community,
 .ebooks,
 .whats-new {
   position: absolute;
   top: 8.53rem;
   left: 0.07rem;
   line-height: 1.38rem;
 }
 .community,
 .whats-new {
   top: 10.57rem;
   left: 0.09rem;
 }
 .community {
   top: 12.64rem;
   left: 0.04rem;
   font-size: var(--font-size-2xs);
 }
 .div28 {
   padding: 0;
   align-items: flex-start;
 }
 .div24,
 .div25,
 .div28 {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
 }
 .div25 {
   padding: 0 3.94rem 0 0;
   align-items: center;
   gap: 3.94rem;
 }
 .div24 {
   background-color: var(--color-whitesmoke-100);
   border-top: 1.1px solid var(--color-whitesmoke-300);
   padding: var(--padding-3xs) 0 0;
   align-items: flex-start;
   font-size: var(--font-size-lg);
 }
 .zoho-corporation-pvt {
   position: relative;
   font-size: var(--font-size-6xs);
   line-height: 1.16rem;
   text-align: center;
 }
 .azf-support-mailidbefore {
   position: absolute;
   margin: 0 !important;
   top: 0.03rem;
   left: 0;
   width: 1.51rem;
   height: 1.05rem;
   flex-shrink: 0;
   z-index: 0;
 }
 .supportzohoformscom {
   position: relative;
   line-height: 0.85rem;
   z-index: 1;
 }
 .azf-support-mailid,
 .div34 {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .azf-support-mailid {
   padding: 0 0.18rem var(--padding-4xs) 2.16rem;
   position: relative;
 }
 .div34 {
   position: absolute;
   width: calc(100% + 0.77px);
   top: 0;
   right: -0.02rem;
   left: -0.02rem;
   background-color: var(--color-white);
   border-top: 1.1px solid var(--color-whitesmoke-300);
   border-bottom: 1.1px solid var(--color-whitesmoke-300);
   box-sizing: border-box;
   padding: 1.1rem 8.93rem 1.13rem 74.67rem;
 }
 .zoho-home {
   position: relative;
   line-height: 0.79rem;
 }
 .li4 {
   left: calc(50% - 520.06px);
   border-right: 1.1px solid var(--color-lightgray);
   display: flex;
   flex-direction: row;
   padding: 0 0.87rem 0 0.82rem;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .li4,
 .li5,
 .li6 {
   position: absolute;
   top: 0.13rem;
 }
 .li5 {
   left: calc(50% - 434.77px);
   border-right: 1.1px solid var(--color-lightgray);
   display: flex;
   flex-direction: row;
   padding: 0 0.79rem 0 0.74rem;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .li6 {
   left: calc(50% - 353.87px);
   padding: 0 0.83rem 0 0.77rem;
 }
 .li6,
 .li7,
 .li8 {
   border-right: 1.1px solid var(--color-lightgray);
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .li7 {
   position: absolute;
   top: 0.13rem;
   left: calc(50% - 284.86px);
   padding: 0 0.73rem 0 0.68rem;
   font-size: var(--font-size-5xs);
 }
 .li8 {
   left: calc(50% - 197.03px);
   padding: 0 0.91rem 0 0.86rem;
 }
 .li10,
 .li8,
 .li9 {
   position: absolute;
   top: 0.13rem;
 }
 .li9 {
   left: calc(50% - 93.42px);
   border-right: 1.1px solid var(--color-lightgray);
   display: flex;
   flex-direction: row;
   padding: 0 0.89rem 0 0.84rem;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .li10 {
   left: calc(50% + 18.28px);
   padding: 0 0.86rem 0 0.81rem;
 }
 .li10,
 .li11,
 .li12 {
   border-right: 1.1px solid var(--color-lightgray);
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .li11 {
   position: absolute;
   top: 0.13rem;
   left: calc(50% + 129.23px);
   padding: 0 0.85rem 0 0.8rem;
 }
 .li12 {
   left: calc(50% + 224.32px);
   padding: 0 0.88rem 0 0.83rem;
 }
 .abuse-policy,
 .li12,
 .li13 {
   position: absolute;
   top: 0.13rem;
 }
 .li13 {
   left: calc(50% + 319.21px);
   border-right: 1.1px solid var(--color-lightgray);
   display: flex;
   flex-direction: row;
   padding: 0 0.7rem 0 0.65rem;
   align-items: flex-start;
   justify-content: flex-start;
   font-size: var(--font-size-5xs);
 }
 .abuse-policy {
   left: calc(50% + 453.65px);
   line-height: 0.79rem;
 }
 .ul8 {
   position: absolute;
   top: 12.51rem;
   left: 0;
   width: 99.26rem;
   height: 1.58rem;
   overflow: hidden;
   text-align: center;
   font-size: var(--font-size-6xs);
   color: var(--color-black);
 }
 .search-for-product {
   position: relative;
   line-height: 1.12rem;
 }
 .divplaceholder {
   overflow: hidden;
   padding: var(--padding-4xs) 32.73rem 0 0.55rem;
 }
 .divplaceholder,
 .formfooter-search-action,
 .search-for-product-overviews {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .search-for-product-overviews {
   padding: var(--padding-md) 3.94rem var(--padding-md) 0.79rem;
 }
 .formfooter-search-action {
   border: 1.1px solid var(--color-gainsboro);
   padding: var(--padding-3xs);
   z-index: 0;
 }
 .span1 {
   position: absolute;
   top: 0.79rem;
   left: calc(50% - 9.45px);
   width: 1.31rem;
   height: 1.31rem;
 }
 .footer-search-btn {
   position: absolute;
   margin: 0 !important;
   height: calc(100% - 0.14px);
   top: 0;
   right: 0;
   bottom: 0.01rem;
   background-color: #f7f7f7;
   border: 1.1px solid var(--color-gainsboro);
   box-sizing: border-box;
   width: 3.15rem;
   flex-shrink: 0;
   z-index: 1;
 }
 .div35 {
   position: absolute;
   top: 6.4rem;
   left: calc(50% - 472.64px);
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
   font-size: var(--font-size-2xs);
   color: #757575;
 }
 .div33 {
   position: relative;
   width: 99.26rem;
   height: 14.08rem;
   flex-shrink: 0;
   text-align: right;
   font-size: var(--font-size-base);
   color: #03a9f5;
 }
 .wwwzohocom-by-htmltodesign {
   position: relative;
   width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
   font-size: var(--font-size-3xs);
   color: var(--color-black);
   font-family: var(--font-inter);
 }
 